:host {
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
}

.info,
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info {
    flex: 2;
}

.user {
    flex: 1;
}