:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > * {
    margin: 0 1rem;
  }

  a {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      // TODO underline
    }

    &:hover {
      text-decoration: underline;
      // TODO underline animation
    }

    &.active {
      text-decoration: underline;
    }
  }

}

.other {
  > *:not(:last-child) {
    margin-right: 2rem;
  }
}
