<a href="/" routerLink="/" class="logo">LinkHub</a>

<ul>
  <li>
    <a [ngClass]="currentUrl === '/' ? 'active' : ''" href="/" routerLink="/"
      >Главная</a
    >
  </li>
  <li>
    <a
      [ngClass]="currentUrl === '/vacancies' ? 'active' : ''"
      href="/vacancies"
      routerLink="/vacancies"
      >Вакансии</a
    >
  </li>
  <li>
    <a
      [ngClass]="currentUrl === '/resumes' ? 'active' : ''"
      href="/resumes"
      routerLink="/resumes"
      >Резюме</a
    >
  </li>
  <li>
    <a
      [ngClass]="currentUrl === '/about' ? 'active' : ''"
      href="/about"
      routerLink="/about"
      >О нас</a
    >
  </li>
</ul>

<div class="other" *ngIf="!auth.logged">
  <app-button type="secondary" routerLink="/register" class="register"
    >Регистрация</app-button
  >
  <a href="/login" routerLink="/login" class="login">Вход</a>
</div>

<div class="other" *ngIf="auth.logged">
  <a href="/personal-page" routerLink="/personal-page" class="personal-page">
    <img src="assets/img/user-placeholder.webp" alt="{{ auth.user.login }}" />{{
      auth.user.login
    }}</a
  >
  <a href="/" routerLink="/" class="logout" (click)="logout()">Выход</a>
</div>
