:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > * {
    margin: 0 1rem;
  }

  a {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      // TODO underline
    }

    &:hover {
      text-decoration: underline;
      // TODO underline animation
    }
  }

}

.other {
  .register {
    padding: 1rem;
    border: 0.1rem solid white;
    border-radius: 1rem;
    transition: 0.25s ease;

    &:hover {
      background-color: white;
      color: black;
      transition: 0.25s ease;
    }
  }

  > *:not(:last-child) {
    margin-right: 2rem;
  }
}
