<ul>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="resume">Мое резюме</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="company">Моя компания</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="code">Мой код</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="stats">Моя статистика</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="settings">Настройки</a>
  </li>
</ul>

<router-outlet></router-outlet>
