<img src="assets/img/itmo.png" alt="Company logo">
<h1>Вакансии</h1>

<div class="vacancy">
  <div class="info">
    <h2>Должность</h2>
    <h3>Заработная плата</h3>
    <p>Требуемый опыт работы</p>
    <p>Занятость</p>
    <p>Локация</p>

    <div class="buttons">
      <app-button type="accent">Скрыть</app-button>
      <app-button type="secondary">Подробнее</app-button>
      <app-button>Удалить</app-button>
    </div>
  </div>
  <div class="user">
    <img src="assets/img/itmo_small_white_eng.jpg" alt="Аватар компании"/>
    <h3>Название компании</h3>
  </div>

</div>

<div class="vacancy">
  <div class="info">
    <h2>Должность</h2>
    <h3>Заработная плата</h3>
    <p>Требуемый опыт работы</p>
    <p>Занятость</p>
    <p>Локация</p>

    <div class="buttons">
      <app-button type="accent">Показать</app-button>
      <app-button type="secondary">Подробнее</app-button>
      <app-button>Удалить</app-button>
    </div>
  </div>
  <div class="user">
    <img src="assets/img/itmo_small_white_eng.jpg" alt="Аватар компании"/>
    <h3>Название компании</h3>
  </div>

</div>

<div class="vacancy">
  <div class="info">
    <h2>Должность</h2>
    <h3>Заработная плата</h3>
    <p>Требуемый опыт работы</p>
    <p>Занятость</p>
    <p>Локация</p>

    <div class="buttons">
      <app-button type="accent">Скрыть</app-button>
      <app-button type="secondary">Подробнее</app-button>
      <app-button>Удалить</app-button>
    </div>
  </div>
  <div class="user">
    <img src="assets/img/itmo_small_white_eng.jpg" alt="Аватар компании"/>
    <h3>Название компании</h3>
  </div>

</div>

<div class="vacancy">
  <div class="info">
    <h2>Должность</h2>
    <h3>Заработная плата</h3>
    <p>Требуемый опыт работы</p>
    <p>Занятость</p>
    <p>Локация</p>

    <div class="buttons">
      <app-button type="accent">Скрыть</app-button>
      <app-button type="secondary">Подробнее</app-button>
      <app-button>Удалить</app-button>
    </div>
  </div>
  <div class="user">
    <img src="assets/img/itmo_small_white_eng.jpg" alt="Аватар компании"/>
    <h3>Название компании</h3>
  </div>

</div>

<app-button type="accent">Добавить вакансию</app-button>
