@import "src/scss/colors";

:host {
  flex: 1;
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

a {
  transform: translateY(-50%);
  position: relative;
  border-radius: 4px;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;

  &::after {
    border-top: 1.5rem solid;
    bottom: -1.5rem;
    content: "";
    position: absolute;
  }
}

.vacancies {
  $clr: #452442;
  background-color: $clr;

  &::after {
    border-color: $clr;
    border-left: 1.5rem solid transparent;
    right: 1rem;
  }
}

.resumes {
  $clr: #162b41;
  background-color: $clr;

  &::after {
    border-color: $clr;
    border-right: 1.5rem solid transparent;
    left: 1rem;
  }
}
