@import "src/scss/colors";

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 0;
  font-size: 1.5em;
}

.cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-color: $clr-grey $clr-fill;
  scrollbar-width: thin;
  border-radius: 0.5em 0 0 0.5em;
  outline: 1px solid $clr-grey
}

app-filter {
  max-width: 25%;
}
