@import "src/scss/colors";

:host {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: $clr-fill;
  outline: 1px solid $clr-grey;
  border-radius: 1em;
  color: white;
  padding: 2.5em;
  max-width: 50%;
  flex: 1;
}

input {
  background-color: $clr-main-dark;
  border: none;
  border-radius: 0.25em;
  outline: 1px solid $clr-grey;
  padding: 0.5em;
  font-weight: bold;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 2.5em;
  color: white;

  &:focus {
    outline: 1px solid $clr-accent-lighter;
  }

  &.ng-touched.ng-invalid {
    outline: 1px solid red;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;

  > *[type="accent"] {
    flex: 1;
  }
}

.pass {
  label {
    float: left;
  }

  a {
    float: right;
  }
}
