<form novalidate>
  <label for="login">Никнейм</label>
  <input type="text" name="login" id="login" [(ngModel)]="auth.user.login" #login="ngModel" required>

  <div class="pass">
    <label for="password">Пароль</label>
    <a href="/register" routerLink="/register">Забыли пароль?</a>
  </div>
  <input type="password" name="password" id="password" [(ngModel)]="auth.user.password" #password="ngModel" required>

  <div class="buttons">
    <app-button [ngClass]="(login.valid && password.valid) ? '' : 'disabled'" type="accent" (click)="submit()">Войти
    </app-button>
    <app-button type="other">
      <fa-icon [icon]="faGoogle"></fa-icon>
    </app-button>
    <app-button type="other">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </app-button>
    <app-button type="other">
      <fa-icon [icon]="faGithub"></fa-icon>
    </app-button>
  </div>
</form>
