<div class="user">
  <div class="info">
    <h1>Unity C# Developer</h1>
    <h2>40 000 руб.</h2>
    <p>Опыт: 1 год</p>
    <p>Частичная занятость, неполный день</p>
    <p class="location">
      Санкт-Петербург, не готов к переезду, готов к командировкам
    </p>
    <app-button type="accent">Редактировать</app-button>
  </div>

  <div class="avatar">
    <img src="assets/img/user-placeholder.webp" alt="Аватар пользователя" />
    <h3>Имя пользователя</h3>
  </div>
</div>

<div class="cv"></div>
