<div class="user">
  <div class="info">
    <h1>Unity C# Developer</h1>
    <h2>40 000 руб.</h2>
    <p>Опыт: 1 год</p>
    <p>Частичная занятость, неполный день</p>
    <p class="location">
      Санкт-Петербург, не готов к переезду, готов к командировкам
    </p>
    <app-button type="accent">Редактировать</app-button>
  </div>

  <div class="avatar">
    <img src="assets/img/user-placeholder.webp" alt="Аватар пользователя"/>
    <h3>Имя пользователя</h3>
  </div>
</div>

<div class="cv">
  <h2>Вохмин Алексей Валерьевич</h2>

  <p>Мужчина, 25 лет, родился 17 января 1997</p>
  <p>График работы: удаленная работа, гибкий график, полный день, сменный график</p>

  <h2>Опыт работы: 4 года 10 месяцев</h2>
  <div class="exp">
    <p>Ноябрь 2021 — по настоящее время<br>11 месяцев</p>
    <div>
      <h3>Санкт-Петербургский национальный исследовательский университет информационных технологий, механики и
        оптики</h3>
      <p>Санкт-Петербург</p>
      <h3>Лаборант</h3>
      <p>Разработка ПО с использованием языков программирования C# (в составе Unity) и Python (Narupa, MDAnalysis),
        разработка модели машинного обучения</p>
    </div>

    <p>Ноябрь 2021 — по настоящее время<br>11 месяцев</p>
    <div>
      <h3>Санкт-Петербургский национальный исследовательский университет информационных технологий, механики и
        оптики</h3>
      <p>Санкт-Петербург</p>
      <h3>Лаборант</h3>
      <p>Разработка ПО с использованием языков программирования C# (в составе Unity) и Python (Narupa, MDAnalysis),
        разработка модели машинного обучения</p>
    </div>

    <p>Ноябрь 2021 — по настоящее время<br>11 месяцев</p>
    <div>
      <h3>Санкт-Петербургский национальный исследовательский университет информационных технологий, механики и
        оптики</h3>
      <p>Санкт-Петербург</p>
      <h3>Лаборант</h3>
      <p>Разработка ПО с использованием языков программирования C# (в составе Unity) и Python (Narupa, MDAnalysis),
        разработка модели машинного обучения</p>
    </div>

    <p>Ноябрь 2021 — по настоящее время<br>11 месяцев</p>
    <div>
      <h3>Санкт-Петербургский национальный исследовательский университет информационных технологий, механики и
        оптики</h3>
      <p>Санкт-Петербург</p>
      <h3>Лаборант</h3>
      <p>Разработка ПО с использованием языков программирования C# (в составе Unity) и Python (Narupa, MDAnalysis),
        разработка модели машинного обучения</p>
    </div>

    <p>Ноябрь 2021 — по настоящее время<br>11 месяцев</p>
    <div>
      <h3>Санкт-Петербургский национальный исследовательский университет информационных технологий, механики и
        оптики</h3>
      <p>Санкт-Петербург</p>
      <h3>Лаборант</h3>
      <p>Разработка ПО с использованием языков программирования C# (в составе Unity) и Python (Narupa, MDAnalysis),
        разработка модели машинного обучения</p>
    </div>

    <p>Ноябрь 2021 — по настоящее время<br>11 месяцев</p>
    <div>
      <h3>Санкт-Петербургский национальный исследовательский университет информационных технологий, механики и
        оптики</h3>
      <p>Санкт-Петербург</p>
      <h3>Лаборант</h3>
      <p>Разработка ПО с использованием языков программирования C# (в составе Unity) и Python (Narupa, MDAnalysis),
        разработка модели машинного обучения</p>
    </div>
  </div>

  <h2>Ключевые навыки:</h2>
  <div class="skill-tags">
    <app-skill-tag>Skill tag</app-skill-tag>
    <app-skill-tag>Skill tag</app-skill-tag>
    <app-skill-tag>Skill tag</app-skill-tag>
    <app-skill-tag>Skill tag</app-skill-tag>
    <app-skill-tag>Skill tag</app-skill-tag>
    <app-skill-tag>Skill tag</app-skill-tag>
    <app-skill-tag>Skill tag</app-skill-tag>
    <app-skill-tag>Skill tag</app-skill-tag>
    <app-skill-tag>Skill tag</app-skill-tag>
    <app-skill-tag>Skill tag</app-skill-tag>
    <app-skill-tag>Skill tag</app-skill-tag>
    <app-skill-tag>Skill tag</app-skill-tag>
  </div>

  <h2>Обо мне:</h2>
  <p>Студент третьего курса университета ИТМО, направление - программная инженерия. Стрессоустойчивый, целеустремлённый,
    готов к обучению. Присутствует критическое мышление, всегда сумею найти нужную информацию и восполнить пробелы в
    знаниях, если в этом возникает необходимость.</p>
  <p>Есть опыт работы на языках программирования Python, Java, C++ и C# в виде лабораторных и проектных работ. Так же
    есть опыт работы с PHP, JS, CSS, SASS, HTML.</p>

  <h2>Образование:</h2>
  <div class="edu">
    <p>2023</p>
    <div>
      <h3>Национальный исследовательский университет ИТМО</h3>
      <p>Санкт-Петербург</p>
      <p>Факультет программной инженерии и компьютерной техники, Программная инженерия</p>
    </div>
  </div>
</div>
