@import "src/scss/colors";

:host {
  border-radius: 0 0.5em 0.5em 0.5em;
  outline: 1px solid $clr-grey;
  outline-offset: -1px;
  background-color: $clr-fill;
  display: flex;
  flex: 1;
}

form {
  flex: 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem 2rem;
  padding: 2rem;
  position: relative;
  align-content: start;
  align-items: center;
}

.input {
  input {
    background-color: $clr-main-dark;
    border: none;
    border-radius: 0.25em;
    outline: 1px solid $clr-grey;
    padding: 0.5em;
    font-weight: bold;
    width: 100%;
    margin-top: 0.5em;
    color: white;

    &:focus {
      outline: 1px solid $clr-accent-lighter;
    }
  }
}

.pass > *:not(:last-child) {
  margin-bottom: 1rem;
}

.buttons {
  position: absolute;
  bottom: 0;
  padding: inherit;

  > *:not(:last-child) {
    margin-right: 1rem;
  }
}

app-button span {
  margin-left: 1rem;
}
