:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
app-root {
  padding: 0;
  margin: 0;

  min-height: 100%;
  height: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #04001a;
  background: linear-gradient(
    135deg,
    rgb(28, 0, 184) -10%,
    rgb(4, 0, 26) 15%,
    rgb(4, 0, 26) 85%,
    rgb(255, 0, 0) 110%
  );
}

app-root {
  width: 75%;
  padding: 2rem 0;
}

a {
  text-decoration: none;
  color: white;
}
