$clr-main-dark: #04001a;
$clr-body-gradient: linear-gradient(
  135deg,
  rgb(28, 0, 184) -10%,
  rgb(4, 0, 26) 15%,
  rgb(4, 0, 26) 85%,
  rgb(255, 0, 0) 110%
);
$clr-grey: #444C56;
$clr-fill: #1E1D27;
$clr-accent: #1C00B8;
$clr-accent-lighter: #2700FF;